<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaussure</title>
</head>
<body>
    <nav>

    </nav>
    <div class="container">
        <input type="text" id="username" placeholder="ton nom bg" required>
        <!-- <form method="POST" id="form" action="">
            
            <div class="user-card">
              
                <br>
                <br>
                <button class="bouton" id="start" type="submit">Créer room</button>
            </div>

            <br>
            <br>

            <div class="rooms-card">
                <div class="room-header">Salon dispo</div>
                <ul class="liste"></ul>
            </div>

        </form> -->
    </div>


    <script src="/js/index.ts"></script>
</body>
</html>